@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito Sans", sans-serif;
}

.header-shadow {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.input-shadow {
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.country-shadow {
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
}
